<h1>See All Reviews for <%= @product.name %></h1>

<% @reviews.each do |review| %>
  <p><%= review.content %><p>
  <% if review.user %>
  <p>Reviewed by: <%= review.user.email %></p>
  <% end %>
<% end %>
