<h1>All Reviews for <%= @product.name %></h1>

<% @reviews.each do |review| %>
  <p><%= review.content %><p>
  <% if review.user %>
  <p><strong>Reviewed by:</strong> <%= review.user.email %></p>
  <% end %>
<% end %>
