<h1>Review a Product</h1>

<form action="/products/<%= @product.id %>/reviews" method="post">
  <label for="name"><%= @product.name %></label>

  <h3>Review One</h3>
    <label for="review-content-1">Content:</label>
    <textarea name="product[reviews][][content]" id="review-content-1" rows="8" cols="80"></textarea>
  <br>
  <br>
  <br>
  <h3>Review Two</h3>
    <label for="review-content-2">Content:</label>
    <textarea name="product[reviews][][content]" id="review-content-2" rows="8" cols="80"></textarea>
  <br>
  <br>
  <input type="submit" id="submit" value="Post Review!">
</form>
