<div class="container">
  <h1 class="title">GLAM GUIDE<h1>

    <h2>Welcome to Glam Guide.</h2><br>
    <p>A beauty playground where you can rate and review products.</p>
      <% if logged_in? %>
        <a href="/products/new" class="button">Create a new product</a>
      <% else %>
        <a href="/signup" class="button">Sign Up</a>
        <a href="/login" class="button">Login</a>
      <% end %>
</div>
